<ul class="nav nav-list">
  <li class="nav-header">控制面板</li>
  <li {% if menuIndex == 0 %}class="active"{%end%}><a href="/admin/">首页</a></li>
  <li {% if menuIndex == 1 %}class="active"{%end%}><a href="/admin/article">文章</a></li>
  <li {% if menuIndex == 2 %}class="active"{%end%}><a href="/admin/tag">标签</a></li>
  <li {% if menuIndex == 3 %}class="active"{%end%}><a href="/admin/catalog">分类</a></li>
  <li class="nav-header">账户</li>
  <li {% if menuIndex == 4 %}class="active"{%end%}><a href="/admin/profile">账户信息</a></li>
  <li class="divider"></li>
  <li><a href="/admin/logout">退出</a></li>
</ul>