<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %}{{ handler.settings['blog_title'] }}</title>
    {% module ThemeCss(handler.get_cookie('ypbtheme', default="slate"))%}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% block head %}{% end %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">YoungPay </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">首页</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if current_user %}
						<li class="dropdown"><a href="#" class="dropdown-toggle"
                            data-toggle="dropdown">{{ current_user }} <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/">管理后台</a></li>
                                <li class="divider"></li>
                                <li><a href="/admin/logout">退出</a></li>
                            </ul>
                        </li>
                        {% else %}
						<li><a href="/admin/login">登录</a></li>
                        {% end %} 
						{% include "module/changeTheme.html" %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">{% block body %}{% end %}</div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            By <a class="mname" href="#" title="创建于 1989年11月15日">YoungPay</a>
        </p>
        {% if not handler.settings["debug"] %}
        <p>
            <img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" />
        </p>
        {% end %}
    </footer>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block js %}{% end %}

    {% if not handler.settings["debug"] %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42481060-1', 'yangpei.me');
      ga('send', 'pageview');
    </script>
    {% end %}
</body>
</html>