<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ handler.settings['blog_title'] }}</title>
    {% module ThemeCss(handler.get_cookie('ypbtheme', default="slate"))%}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% block head %}{% end %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">YoungPay </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">首页</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if current_user %}
						<li class="dropdown"><a href="#" class="dropdown-toggle"
                            data-toggle="dropdown">{{ current_user }} <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/">管理后台</a></li>
                                <li class="divider"></li>
                                <li><a href="#">退出</a></li>
                            </ul>
                        </li>
                        {% else %}
						<li><a href="/admin/">登录</a></li>
                        {% end %} 
						{% include "module/changeTheme.html" %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">{% block body %}{% end %}</div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            By <a class="mname" href="#" title="创建于 1989年11月15日">YoungPay</a>
        </p>
        <p>
            <!-- <img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" /> -->
        </p>
    </footer>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block js %}{% end %}
</body>
</html>
