{% extends "base.html" %}
{% block body %}
<div class="hero-unit">
  <h1>{{msg}}</h1>
  <p>正在为您导向到{{to}}</p>
  <p>
    <div class="progress progress-striped active">
	  <div id="pbar" class="bar" style="width: 0%;"></div>
	</div>
  </p>
</div>
{% end %}
{% block js %}
<script>
	var toUrl = "{{ toUrl }}";
	var seconds = {{ seconds }};
	var step = 1;
	var progresssum = 0;
	var interval = seconds * 1000 / 100;
	var pbar = null;
	
	$(document).ready(function(){
		pbar = $('#pbar');
		setInterval(function(){
			progress(step);
		}, interval);
	});
	
	// value:0-100
	function progress(value){
		progresssum = progresssum + value;
		pbar.css("width", progresssum.toString() + "%");
		console.log(progresssum);
		if(progresssum >= 100){
			location.href = toUrl;
		}
	}
</script>
{% end %}