{% extends "base.html" %}

{% block body %}
<div class="span10 offset1">
{% for entry in entities %}
    <div class="post">
    <div class="page-header">
        <h3 class="title" style="margin-left:0" title="发表于 {{ entry.published.strftime("%Y-%m-%d %H:%M:%S") }}" data-placement="right">
            <a href="/post/{{ entry.key() }}">{{ entry.title }}</a></h3>
            <blockquote>{{ entry.published.strftime("%Y-%m-%d %H:%M:%S") }}</blockquote>
            <p>{{entry.slug}}</p>
    </div>
</div>
{% end %}
{% if len(entities) > 0 %}
<ul class="pager">
    {% if page > 1 %}
  <li class="previous">
    <a href="/{{page - 1}}">&larr; 前一页</a>
  </li>
    {% end %}

    {% if page < total %}
  <li class="next">
    <a href="/{{page + 1}}">后一页 &rarr;</a>
  </li>
    {% end %}
</ul>
{% end %}
</div>
{% end %}