{% extends "base.html" %}

{% block body %}
<h2>你好，世界
<small>发布于 2012年09月06日</small>
</h2>
<hr />
<div class="well">
拿韵达的快递不用签收？5日，有市民纷纷向本报反映，收到韵达的包裹不用签收就可以将货物拿走。对此，韵达快递上海总公司公共事务部相关负责人称，公司是严格按照国家规定要求快递签收的，应该是快递员个人行为。
</div>

<h4>
消费者投诉韵达快递无需签收
</h4>
　　
<p>
市民王女士称，3日收到在淘宝网购买的一个包裹，由韵达快递派送，由于自己当时不在单位所以找同事代领，但同事去代领时发现包裹不见了，经过多方打听才 知道，原来是被另一名好心的同事给拿到了办公室，而包裹上根本没有签收。“这不止一次，”王女士表示，“如果是贵重物品丢了谁来负责？快递的维权这么难， 监管这么松，消费者的权益如何保证？”记者在王女士提供的快递包裹上看到，收件人和代签人一栏均为空白。
</p>
　
<p>
市民胡先生、赵女士和张女士表示，均遇到过类似不签收就拿到包裹的现象。
</p>
<p>
对此，韵达快递上海总公司公共事务部相关负责人称此行为是个人行为还是济南地区的行为还需进一步调查，但作为总公司的角度来说，是严格按照国家标准要求 各分公司的，如果快递员存在这种不负责任的行为，会责令当地分公司严格整顿，一旦发现会对快递员严厉处罚。“快递员有时比较忙，不排除会有类似的现象，但 绝不是普遍行为。”
</p>
<hr />

{% end %}