{% extends "base.html" %}
{% block title %}{{post.title}} -
{% end %}

{% block head %}
<link rel="stylesheet" href="/static/css/prettify.css" type="text/css">
{% end %}

{% block body %}
<div class="span10 offset1">
    <h2>{{post.title}}
    <small>发布于 {{post.published.strftime("%Y-%m-%d %H:%M:%S")}}</small>
    </h2>
    <hr />
    {% raw post.html %}
    <hr />
    {% if not handler.settings["debug"] %}
    {% include "disqus.html" %}
    {% end %}
    <a href="/" class="btn">返回</a>
</div>
{% end %}

{% block js %} 
<script type="text/javascript" src="/static/js/prettify/prettify.js"></script><!--
<script type="text/javascript" src="/static/js/prettify/run_prettify.js"></script> -->
<script>
    prettyPrint();
</script>
{% end %}